obj
bin
deploy
*.csproj.user
*.csproj.*.user
*.suo
*.cache
*.nupkg
~$*
*~
*ReSharper*
*.swp
*.testsettings
TestResults/*
*.dbmdl
Releases/2*
*.pidb
*.docstates
test-results
apply_config.bat
NDependOut
*.dotCover
*_mm_cache.bin
.DS_Store
mono-release-*
test
test*ml
build
*.ncrunchproject
docs
*.ndproj
nohup.out
*.Tests.dll.xml
*.DotSettings
Gemfile.lock
results
nuget
artifacts
packages
!/packages/repositories.config
*.user
